<!DOCTYPE html>

<link rel="stylesheet" href="./css/bootstrap.css">
<link rel="stylesheet" href="./css/modern-business.css">

<script src="./js/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function onLoad() {
        $(".coeffs").hide(100);
    }

    function showCoeffs() {
        $(".coeffs").show(100);

        var cash = document.getElementById("cash").value;
        var current_assets = document.getElementById("current_assets").value;
        var short_term_obligations = document.getElementById("short_term_obligations").value;
        var Financial_investments = document.getElementById("financial_investments").value;

        var coeff1 = current_assets / short_term_obligations;
        var coeff2 = cash / short_term_obligations;
        var coeff3 = (current_assets - Financial_investments) / short_term_obligations;

        document.getElementById('sp1').textContent = coeff1.toFixed(2);
        document.getElementById('sp2').textContent = coeff2.toFixed(2);
        document.getElementById('sp3').textContent = coeff3.toFixed(2);

        if (coeff1 >= 2) {
            document.getElementById('sp1').setAttribute("style", "color:green");
            document.getElementById('sp1').textContent += " > 2 ";
        } else {
            document.getElementById('sp1').setAttribute("style", "color:red");
            document.getElementById('sp1').textContent += " < 2 ";

        }
        if (coeff2 >= 0.2) {
            document.getElementById('sp2').setAttribute("style", "color:green");
            document.getElementById('sp2').textContent += " > 0.2 ";

        } else {
            document.getElementById('sp2').setAttribute("style", "color:red");
            document.getElementById('sp2').textContent += " < 0.2 ";

        }
        if (coeff3 >= 1) {
            document.getElementById('sp3').setAttribute("style", "color:green");
            document.getElementById('sp3').textContent += " > 1 ";

        } else {
            document.getElementById('sp3').setAttribute("style", "color:red");
            document.getElementById('sp3').textContent += " < 1 ";

        }
    }
</script>
<style>
    .coeffs {
        display: none;
    }
    
    .btn {
        width: 15ex;
    }
</style>

<!-- Page Content -->
<div class="container" onload="onLoad()">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Ликвидность</h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Домашняя страница</a>
                </li>
                <li><a href="fin-analysis.html">Анализ показателей</a></li>
                <li class="active">Ликвидность</li>
            </ol>
        </div>
    </div>
    <form id="form1" action="" method="post" modelAttribute="company">
        <div class="col-lg-3">
            Введите данные
            <!-- <select id="company" name="company" array="companies" class="form-control"
                        ng-model="company">
                    <c:forEach items="${companies}" var="company">
                        <option name="company" value="${company}" ng-model="company">
                                ${company.typeOfProperty} ${company.name}
                        </option>
                    </c:forEach>
                </select>
            -->
            <br>
            <div class="data">
                Дата:
                <input id="date" name="date" type="date" ng-model="date">
                <br> Оборотные активы:
                <input id="current_assets" name="current_assets" type="number" ng-model="current_assets">
                <br> Краткосрочные обязательства:
                <br>
                <input id="short_term_obligations" name="short_term_obligations" type="number" ng-model="short_term_obligations">
                <br> Денежные средства и эквиваленты:
                <br>
                <input id="cash" name="cash" type="number" ng-model="cash">
                <br> Финансовые вложения:
                <input id="financial_investments" name="financial_investments" type="number" ng-model="financial_investments">
                <br><br>
                <button type="submit" form="form1" class="btn btn-primary"> Сохранить</button>
                <br><br>
                <button type="button" class="btn btn-primary" onclick="showCoeffs()">Рассчитать</button>
            </div>
        </div>

        <div class="coeffs col-md-6">
            Коэффициент текущей ликвидности: <span id="sp1" class="sp1"> 0</span>
            <br> Коэффициент абсолютной ликвидности: <span id="sp2" class="sp2">0</span>
            <br> Коэффициент быстрой ликвидности: <span id="sp3" class="sp3">0</span>
            <br>
        </div>
    </form>