<!DOCTYPE html>
<link rel="stylesheet" href="./css/bootstrap.css">
<link rel="stylesheet" href="./css/modern-business.css">

<script src="./js/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="http://requirejs.org/docs/release/2.1.5/comments/require.js"></script>

<script>
    function pressed() {
        $(".cl1").show(100);
        $(".cl2").hide(100);
        $(".cl3").hide(100);
        $(".cl4").hide(100);
        show();
    }

    function pressed2() {
        $(".cl1").hide(100);
        $(".cl2").show(100);
        $(".cl3").hide(100);
        $(".cl4").hide(100);
    }

    function pressed3() {
        $(".cl1").hide(100);
        $(".cl2").hide(100);
        $(".cl3").show(100);
        $(".cl4").hide(100);
    }

    function pressed4() {
        $(".cl1").hide(100);
        $(".cl2").hide(100);
        $(".cl3").hide(100);
        $(".cl4").show(100);
    }
</script>
<style>
    .cl1 {}
    
    .cl2 {
        display: none;
    }
    
    .cl3 {
        display: none;
    }
    
    .cl4 {
        display: none;
    }
    
    .button-add-companies {
        padding-top: 10px;
    }
</style>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Пользователи
            </h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Домашняя страница</a>
                </li>
                <li><a href="admin.html">Личный кабинет админа</a>
                </li>
                <li class="active">Управление пользователями</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-3">
            <button class="list-group-item button-list-companies" onclick="pressed()">
                        Список компаний
                    </button>
            <button class="list-group-item button-add-companies" onclick="pressed2()"> Добавить</button>
            <button class="list-group-item button-delete-companies" onclick="pressed3()"> Удалить</button>
            <button class="list-group-item button-update-companies" onclick="pressed4()"> Редактировать</button>
        </div>
        <div class="col-md-9 cl1" id="showAll">
            <!-- Content Column -->
            <div ng-show="findAllVisible">
                <div class="col-md-9" id="showAll">

                </div>
            </div>
            <div class="col-md-3 cl3">
                <form id="form1" action="" method="post" modelAttribute="user">
                    <div class="input-group">
                        Логин: <input name="name" type="text" ng-model="name" required/>
                    </div>
                    <br>
                    <div class="input-group">
                        Пароль: <input name="address" type="text" ng-model="address" required/>
                    </div>
                    <br>
                    <div class="input-group">
                        Роль : <select name="role" class="form-control" ng-model="role" required>
                                <option>ROLE_ADMIN</option>
                                <option>ROLE_USER</option>
                            </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" form="form1" class="btn btn-primary btn-block"> Добавить  </button>
                    </div>
                </form>

            </div>
            <div class="cl3" ng-show="deleteUserVisible">
                <div class="col-md-3">
                    <b>Id:</b>
                    <input type="number" ng-model="idDelete" required/>
                    <br/>
                    <a href="${deleteUser}/idUser/{{idDelete}}">Удалить</a>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

    </div>
    <!-- /.container -->
    <script>
        function show() {
            axios.get("http://localhost:8084/users")
                .then(function(responce) {
                    console.log(responce);
                    document.getElementById("showAll").innerHTML = JSON.stringify(responce.data);
                })
                .catch(error => console.log('error', error));
        }
    </script>